<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootsrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./cards.css" type="text/css">
    <title>iGEM 2021: Mingdao</title>
</head>

<body>
    <section class="team-area">
    <div class="container">
    <h3 class="section-heading">Team Members</h3>
    <div class="row">
        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-single">
                <div class="card content-area">
                    <div class="side-one">
                        <div class="card-body text-center">
                            <div class="img-area">
                                <img src="img2.jpg" alt="">
                                <h4>NAME2</h4>
                                <p>POSITION2</p>
                            </div>
                        </div>
                    </div>
                    <div class="side-two">
                        <div class="card-body text-center mt-4">
                            <h4>NAME2</h4>
                            <p>lorum ipsusm dsjkal;djsklaf;jdksla;fjdksla;fjdskla;fjdksl;af text her text here</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-xs-12 col-sm-6 col-md-4 my-4">
            <div class="card">
                <img src="img1.jpg" class="card-img-top" alt="">
                <div class="card-body text-center mt-4">
                    <h4 class="card-title">NAME2</h4>
                    <p class="card-text">ahhahahah</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 my-4">
            <div class="card">
                <img src="img2.jpg" class="card-img-top" alt="">
                <div class="card-body text-center mt-4">
                    <h4 class="card-title">NAME2</h4>
                    <p class="card-text">ahhahahah</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 my-4">
            <div class="card">
                <img src="img3.jpg" class="card-img-top" alt="">
                <div class="card-body text-center mt-4">
                    <h4 class="card-title">NAME2</h4>
                    <p class="card-text">ahhahahah</p>
                </div>
            </div>
        </div>

    </div>
    </div>
    </section>
</body>

</html>