@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
}

.team-area {
    padding: 60px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section-heading {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 5px;
}

.card {
    border: none;
    background: sandybrown;
}

.img-area {
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.side-one {
    outline: solid;
}

.team-single:hover .sidetwo {
    border-radius: 5px;
}

.team-single:hover .side-one {
    box-shadow: 10px 5px black;
    transition: 0.4s;
}

.team-single:hover img {
    display: none;
}

.content-area {
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.side-two {
    display: none;
}